<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title%} {% endblock %}</title>

    <!-- bootstrap css cdn link -->
    <Link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">

    <!-- bootstrap icon cdn link -->
    <Link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <!-- fontawesome cdn link -->
    <script src="https://kit.fontawesome.com/a0e7035190.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- navbar content start -->
    {% include 'client/includes/navbar.html' %}

    <!-- navbar content end -->
    <div class="main">
        {% block main_content %}
        <!-- your main content here  -->
        {% endblock %}
    </div>

    <!-- footer content start -->
    {% include 'client/includes/footer.html' %}
    <!-- footer content end -->

    <!-- bootstrap js cdn link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>