{% extends "index.html" %}

{% load crispy_forms_tags %}

{% block page_title %}
Add-Products
{% endblock %}

{% block main_content %}
<div class="container-fluid">
    <div class="d-flex justify-content-center mt-4">
        <div class="col-md-6 p-3 shadow-lg">
            <h2 class="text-center text-muted">
                Add Product Form
            </h2>
            {% for msg in messages %}
            {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger">
                {{msg}}
            </div>
            {% endif %}
            {% endfor %}
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="mt-3">
                    <input type="submit" value="Add Product" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock%}